
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    background-color: #2D92B8 ;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 50px;
}



.project-title{
    width: 270px;
    height: 90px;
    background-color: #F88748;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: "Balsamiq Sans", sans-serif;
    border: 2px solid black;
    position: relative;
    top: 25px;
}

.white-background{
    width: 305px;
    height: 90px;
    background-color: white;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    border: 2px solid black;
    transform: scale(1.2);
}

.dev-name{
    width: 230px;
    height: 90px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
    background-color: #9ADFF8;
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 20px;
    top: 10px;
}


.selections{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.selections div{
    width: 150px;
    height: 150px;
    display: flex;
    background-color: wheat;
    border-radius: 50%;
    transition: .2s ease-in;
}

.selections div:hover{
    transform: scale(1.1);
    background-color: rgb(243, 207, 140);
    cursor: pointer;
}


.cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.cards div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 225px;
    border: 2px solid wheat;
    border-radius: 15px;

}


@keyframes generateImage{
    0%{
          background: url("images/rock.png") no-repeat center center;
          background-size: cover;
    }
    50%{
          background: url("images/scissors.png") no-repeat center center;
          background-size: cover;
    }

     100%{
          background: url("images/paper.png") no-repeat center center;
          background-size: cover;
    }
}

.computer-card{
     background-size: cover;
}


.anim-card{
    -webkit-animation: generateImage .3s ease-in-out infinite alternate;
}

.winner-p{
    font-size: xx-large;
    font-weight: 800;
    color: black;
}